<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SeleniumSuite">

    <test name="SelectTests">
        <parameter name="browser" value="chrome" />
        <classes>
            <!-- <class name="NavigatesTest" /> -->
            <!-- <class name="FindWebElem" />  -->
            <!-- <class name="tests.LoginTests" /> -->
            <!-- <class name="tests.AlertTests" /> -->
            <!-- <class name="tests.SelectTest" /> -->
            <class name="tests.IframeTests" />
        </classes>

    </test>

</suite>